.advanced-search-btn {
  width: 10rem;
}

.downInfo {

  display: flex;
  justify-content: space-around;
  margin-bottom: 35px;
  margin-top: 30px;
  flex-wrap: wrap;


}

.tagLine {
  color: #FFFFFF;
  background: #333333;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}

.detailsPage>div:first-of-type {
  margin: auto;
}

.detailsPage>.downDits>.card {
  margin-bottom: 30px;

}

.detailsPage {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(6, 5, 7)
}

.detailsPage img {
  margin-right: 0px;

}

.upperInfo {
  display: flex;
  justify-content: space-around;
  margin-bottom: 35px;
  margin-top: 30px;
  flex-wrap: wrap;


}

.upperInfo> :first-of-type {
  margin-bottom: 30px;
}

.detailsPage .card {
  height: inherit;
}

.search-page {
  text-align: center;
}