/* Paginator-generic component */
.display-none {
    display: none;
}

/*MainNavbar Component */
.logo-img {
    width: 50px;
    margin-right: 8px;
    margin-top: -5px;
}
.logo-img img {
    width: 100%;
}