/* Paginator-generic component */
body{
    /* background: rgb(9,9,121);
background: linear-gradient(0deg, rgba(9,9,121,1) 0%, rgba(41,123,191,1) 35%, rgba(255,255,255,1) 100%); */
}
.display-none {
    display: none;
}

/*MainNavbar Component */
.logo-img {
    width: 50px;
    margin-right: 8px;
    margin-top: -5px;
}

.logo-img img {
    width: 100%;
}


.top-remake-link {

    margin-top: 10rem;
}

.col-link {

    max-width: 13% !important;
}

.row-link {

    justify-content: center;
}

.nav-bar {

    margin-right: 10px;

}

.display-none {
    display: none;

}

.search-listgroup {
    position: absolute;
    width: 20rem;
}

.search-box {
    display: flex;

}

.form-control {
    width: 20rem;
}

.search-btn {
    margin-left: 5px;
}