.top-remake-link{

    margin-top: 3rem;
}
.show-paginator{
    display:none
}
/* body{
    background: rgb(9,9,121);
background: linear-gradient(0deg, rgba(9,9,121,1) 0%, rgba(41,123,191,1) 35%, rgba(255,255,255,1) 100%);
} */